.container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;  
}

.sidebar{
  flex: 0 0 240px;      /* lățime fixă pentru bară fara sa creasca/scada flex-grow/flex-shrink */
  position: sticky;    /*se lipestede marginea de sus */
  top: 0;
  height: 100vh;
  padding: 16px;
  border-right: 1px solid #e9ecef;
  background: #fafafa;

}

.content{
      flex: 1 1 auto;  
}


.link   { 
    display: block; 
    padding: 10px 12px; 
    text-decoration: none; 
    border-radius: 8px; 
    color: #222; 
    margin: 4px 0; 
}

.link:hover { 
    background: #f4f6f8; 
}

.active { 
    background: #e8f0fe; 
    font-weight: 600; 
    color: black;   
}

.titlebar{ 
    display: flex;
    justify-content: center;
    font-size: medium;
    padding: 20px;
    
}

.containerInfo{

    margin: 50px;
}

.generatePass{
    display: flex;
    gap: 10px;
}

.button{
    margin-top: 10px;
}

.alertOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.637);
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 9999; /* mai mare ca orice altceva */
}

.alertBox {
  background: rgba(255, 255, 255, 0.74);
  width: 60%;
  padding: 20px 30px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}


.groupAlertBox{
  display: flex;
  justify-content: center;
  gap: 10px;   
}

.inputAlertBox{
    width: 30%;
    height: fit-content;
    border:round;
    border-width: 1px;
    border-style: groove;
    border-radius: 6px;
}

.inputAlertBox:focus {
  outline: none;       /* scoate conturul la focus */
  box-shadow: none;    /* unele browsere pun shadow */
}

.errorMaster{
    display: flex;
    justify-content: center;
    color: red;
}